<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<contexts>
		<contexts type="BasicDatabase.Contexts.OrderContext, OrderContext">
		</contexts>
	</contexts>
	<connectionStrings>
		<add name="BasicDatabaseConnection" connectionString="Data Source=(localdb)\OrderData; Initial Catalog = LocalOrders;Integrated Security=true;"/>
	</connectionStrings>
</configuration>